<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>MARKET</title>
	<style>
		/*a태그 밑줄 삭제*/
		a{
			text-decoration: none;
			color: #000000;
		}
		body{width:1920px; height:3020px; margin: 0 auto;}

		#toptapdiv{width: 1920px; height: 100px; margin: 0 auto; border-bottom:solid 1px #e9e9e9; background-color: #ffffff;}
		#logodiv{width: 150px; height: 100px; display: table; margin-left: 300px; float: left;}
		#logoimg{width: 150px; height: 30px; text-align: center; display: table-cell; vertical-align: middle;}
		#tapdiv{width: 600px; height: 100px; display: table; margin-left: 255px; float: left;}

		#mainmenu{list-style-type:none; width: 600px; height: 100px;}
		#mainmenu li{float: left; position: relative;margin: 15px 80px 0px 0px;}
		#mainmenu li a{display: block; font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -1px; color: #222222; text-decoration: none;}
		#mainmenu li:hover > a{color: #1cb97c;}
		#mainmenu li:checked > a{color: #1cb97c;}
		#mainmenu ul{list-style-type:none; margin: 0; position: absolute; width: 200px; opacity: 0;}
		#mainmenu ul li{float: none;}
		#mainmenu ul li a{font-size: 14px; text-align: center; font-weight: normal;}
		#mainmenu ul li:hover a{color: #1cb97c;}
		#mainmenu ul li:checked a{color: #1cb97c;}
		#mainmenu li:hover ul{opacity: 1;}
		#mainmenu li:checked ul{opacity: 1;}

		#memberdiv{width: 200px; height: 100px; display: table; float: left; float: right;}
		#logindiv{width: 83px; height: 100px; text-align: center; display: table-cell; vertical-align: middle; font-family: 'Noto Sans CJK KR'; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.7px; color: #6e6e6e;}
		#alarmdiv{width: 100px; height: 100px; text-align: left; display: table-cell; vertical-align: middle;}
		#alarm{width: 24px; height: 24px; background-color: transparent; background-image: url("image/alarmicon.svg"); border: none; outline: none; margin-top: 10px; margin-left: 3px;}

		#maindiv{width:1920px; height: 2580px;}

		#seedboxdiv{width: 1320px; height: 420px; margin: 60px auto 0px;}
		#seedphotodiv{width:300px; height: 300px; background-color: #f5f5f5; float: left; background-image: url("image/auction_ing_hover_8.png");}
		#companyname{height: 28px; border-radius: 5px; background-color: #1cb97c; text-align: center; font-family:"Noto Sans CJK KR"; font-size:18px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.8px; color: #ffffff; padding-left: 7px; padding-right: 7px; margin-left: 20px;}
		#seedname{width:950px; float: left; padding-left: 20px; margin-top: 20px; height: 50px; font-family: 'Noto Sans CJK KR'; font-size: 48px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:0.94; letter-spacing: -2.3px; color: #222222; float: left;}
		#category{width:950px; float: left; padding-left: 27px; margin-top: 27px; height: 50px; font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:0.94; letter-spacing: -2.3px; color: #6e6e6e; float: left;}
		#rightbox{width:300px; height: 100px;float: right; text-align: right; margin-top: 15px;}
		.left{width:80px; height: 25px; float: left; text-align: left; font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -1px; color: #6e6e6e; margin-bottom: 10px;}
		.right{width:200px; height: 25px; float: right; text-align: right; font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -1px; color: #000000; margin-bottom: 10px;}
		#opentime{width:300px; height: 25px;font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -1px; color: #6e6e6e; float: left; margin-top: 80px; margin-left: 27px;}
		#rightbox{width:350px; height: 100px;float: right; text-align: right; margin-top: 15px;}
		.left{width:100px; height: 25px; float: left; text-align: left; font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -1px; color: #6e6e6e; margin-bottom: 10px;}
		.right{width:200px; height: 25px; float: right; text-align: right; font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -1px; color: #000000; margin-bottom: 10px;}
		#attentiondiv{width: 150px; height: 25p; float: right; font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: 500; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #d8d8d8;}

		#contenttapdiv{width:860px; height: 60px; margin-top: 95px; margin-left:300px; float: left;}
		.tap{display: none;}
		.tap + label{width: 420px; height: 60px; float: left; text-align: center; border: none; border-bottom: solid 1px #e9e9e9; outline:none; background-color: transparent; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -1.14px; color: #6e6e6e;}
		.tap:checked + label{border-bottom: solid 4px #222222; color: #222222; font-weight: bold;}

		#contentboxdiv{width: 840px; height: 700px; margin-top: 55px; margin-left:300px; float: left;}

		#biddingbox{width: 869px; height: 496px;}
		#biddingtitle{width: 869px; height: 60px; background-color: #1cb97c;}
		#titleleftdiv{width:320px; height: 60px; padding-left: 30px; display: table; float: left;}
		#titleleft{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #ffffff; display: table-cell; vertical-align: middle;}
		#titlecenterdiv{width:135px; height: 60px;display: table; float: left; text-align: center;}
		#titlecenter{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #ffffff; display: table-cell; vertical-align: middle;}
		#titlerightdiv{width:320px; height: 60px; padding-right: 30px; display: table; float: left; text-align: right;}
		#titleright{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #ffffff; display: table-cell; vertical-align: middle;}
		#biddingcontent{width:870px; height: 600px; border-bottom:solid 1px #e9e9e9; overflow-y: auto;}
		#bluddiv{width:870px; height: 265px; border-bottom:solid 1.2px #d8d8d8;}
		#reddiv{width:870px; height: 265px; border-bottom:solid 1.2px #d8d8d8;}
		.contentline{width: 870px; height:43px;}
		.contentleftdiv{width:270px; height: 43px; padding-left: 30px; float: left; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.9px; color: #3f3f3f;padding-top: 10px;}
		.contentcenterdiv{width: 200px; height: 43px; padding-left:20px; padding-right: 20px; float: left; text-align: center;padding-top: 10px;}
		.conmoneybl{width:80px; height: 43px; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: 500; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.9px; float: left; position: relative; left: 55px;}
		.conpercentbl{width:50px; height: 43px; font-family: 'Noto Sans CJK KR'; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.9px; color:#6e6e6e; float: right;}
		.conmoneyre{width:80px; height: 43px; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: 500; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.9px; float: left; position: relative; left: 5px;}
		.conpercentre{width:50px; height: 43px; font-family: 'Noto Sans CJK KR'; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.9px; color:#6e6e6e; float: left;}
		.contentrightdiv{width:270px; height: 43px; padding-right: 30px; float: left; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.9px; color: #3f3f3f; text-align: right;padding-top: 10px;}
		.blue{background-color: #f4f6fb; color:#1f4dc2;}
		.red{background-color: #fcf4f6; color:#ff3e56;}
		#biddingcontent{width:870px; height: 601.5px; border-bottom:solid 1px #e9e9e9;}
		.resultture{background-color: #f3fbf8;}
		.bidding{width: 850px; height: 43px;}
		.conpricediv{width:320px; height: 23px; padding-left: 30px; display: table; float: left;}
		.conprice{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.9px; color: #3f3f3f; display: table-cell; vertical-align: middle;}
		.connumdiv{width:135px; height: 23px;display: table; float: left; text-align: center;}
		.connum{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.9px; color: #3f3f3f; display: table-cell; vertical-align: middle;}
		.conresultdiv{width:320px; height: 23px; padding-right: 30px; display: table; float: left; text-align: right;}
		.conresult{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.9px; color: #3f3f3f; display: table-cell; vertical-align: middle;}
		.successful{color: #ff3e56;}
		.partsuccessful{color: #1f4dc2;}
		#biddingtotal{width: 870px; height: 60px; }
		#totalleftdiv{width:320px; height: 60px; padding-left: 30px; display: table; float: left;}
		#totalleft{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #222222; display: table-cell; vertical-align: middle;}
		#totalcenterdiv{width:135px; height: 60px;display: table; float: left; text-align: center;}
		#totalcenter{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #222222; display: table-cell; vertical-align: middle;}
		#totalrightdiv{width:320px; height: 60px; padding-right: 30px; display: table; float: right; text-align: right; margin-right: 24px;}
		#totalright{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #222222; display: table-cell; vertical-align: middle;}

		#infobox{width: 850px; height: 700px; position: relative; top:-500px;  visibility: hidden;}

		#plantinfo{width: 840px; height: 420px; border: solid 1px #d8d8d8;}
		#planttitlediv{width: 810px; height: 45px; background-color: #1cb97c; padding-left: 30px; padding-top: 15px;}
		#planttitle{font-family: 'Noto Sans CJK KR'; font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #ffffff; }
		#plantinfodiv{width: 470px; height: 300px; margin-top: 25px; margin-left: 30px; float: left;}
		#plantnameinfo{font-family: 'Noto Sans CJK KR'; font-size: 48px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.94px; color: #222222;}
		#cateinfo{font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.94px; color: #6e6e6e; margin-top: 10px;}
		#plantcon{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: 300; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.94px; color: #6e6e6e; margin-top: 15px;}
		#plantgraphdiv{width: 300px; height: 300px; margin-top: 40px; float: right;}
		#graph{width:170px; height: 170px; margin-left: 30px;}
		#plantresult{width:300px; height: 150px; margin-top: 40px;}
		.line{width: 300px; height: 30px; }
		.list{width:30px; height: 30px; float: left;}
		.listdot{ width: 14px; height: 14px; border-radius: 50px;}
		.country{width: 90px; height: 30px; float: left;}
		.countryname{font-family: 'Noto Sans CJK KR'; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.94px; color: #6e6e6e; position: relative; top:-5px;}
		.graphper{width: 50px; height: 30px; font-family: 'Noto Sans CJK KR'; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.94px; color: #3f3f3f; position: relative; top:-5px; float: right; right: 20px;}
		#companyinfo{width: 840px; height: 600px; border: solid 1px #d8d8d8; margin-top: 40px;}
		#compatitlediv{width: 810px; height: 45px; background-color: #1cb97c; padding-left: 30px; padding-top: 15px;}
		#compatitle{font-family: 'Noto Sans CJK KR'; font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #ffffff; }
		#companyinfodiv{width: 470px; height: 300px; margin-top: 40px; margin-left: 30px; float: left;}
		#cplantnameinfo{font-family: 'Noto Sans CJK KR'; font-size: 48px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.94px; color: #222222;}
		#tablediv{width: 780px; height: 210px; margin-top: 25px; background-image: url("image/company_table.jpg");}
		#cominfo{width: 780px; height: 120px; margin-top: 25px; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: 300; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.94px; color: #6e6e6e;}
		#marketpricediv{width: 840px; height: 400px; border: solid 1px #d8d8d8; margin-top: 40px;}
		#marketpricetitlediv{width: 810px; height: 45px; background-color: #1cb97c; padding-left: 30px; padding-top: 15px;}
		#marketpricetitle{font-family: 'Noto Sans CJK KR'; font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #ffffff; }
		#marketbutton{width:250px; height: 30px; margin-top: 20px; margin-left: 30px;}
		#margraphdiv{width:777px; height: 251px; margin-top: 20px; margin-left: 30px;}
		#marketchart{width:400px; height: 400px;  border: solid 1px #d8d8d8; float: left; margin-top: 20px;}
		#machatitlediv{width: 370px; height: 45px; background-color: #1cb97c; padding-left: 30px; padding-top: 15px;}
		#machatitle{font-family: 'Noto Sans CJK KR'; font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #ffffff; }
		#chartbutton{width:250px; height: 30px; margin-top: 20px; margin-left: 30px;}
		#chartgraph{width:341px; height: 252px; margin-top: 20px; margin-left: 30px;}
		#kindinfodiv{width:400px; height: 400px;  border: solid 1px #d8d8d8; float: left; margin-top: 20px; margin-left: 40px;}
		#kindinfotitlediv{width: 370px; height: 45px; background-color: #1cb97c; padding-left: 30px; padding-top: 15px;}
		#kindinfotitle{font-family: 'Noto Sans CJK KR'; font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #ffffff; }
		#kindtable{width:340px; height: 301px; background-image: url("image/kind_table.svg"); margin-left: 30px; margin-top: 20px;}

		#orderdiv{width: 420px; height: 560px; box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05); border: solid 0.5px #6e6e6e; background-color: #ffffff; float: right; margin-top: -50px; margin-right: 290px;}
		#orderboxtitle{width: 419px; height: 80px; border-bottom: solid 1px #e9e9e9; background-color: #f2f2f2;}
		.rightbox{display: none;}
		.rightbox + label{width: 105px; height: 80px; background-color: #f2f2f2; position: relative; top:22px; padding:22px 28.7px 22px 29.7px; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: 500; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #6e6e6e;}
		.rightbox:checked + label{background-color: #1cb97c; color: #ffffff;}
		#useseedmoneydiv{width: 420px; height: 25px; margin-top: 20px;float: left;}
		#useseedmoney{width: 150px; height: 25px; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #3f3f3f; margin-left: 30px;}
		.formclass{width: 340px; height: 60px;}
		#useedmoney{font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: 500; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.9px; color: #1cb97c; float:right; position: relative; top:-25px; right:38px;}
		#moneybox{width: 340px; height: 60px; background-color: #f2f2f2; margin-top: 10px; margin-left: 30px; display: table; text-align: left; padding-left: 20px; position: relative; top:30px;}
		#moneyboxtitle{width: 130px; height: 55px; display: table-cell; vertical-align: middle; font-family: 'Noto Sans CJK KR'; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #6e6e6e; float: left; position: relative; top:16px;}
		#moneyboxlabel{width:100px; height: 55px; display: table-cell; vertical-align: middle; font-family: 'Noto Sans CJK KR'; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #222222; text-align: right; padding-right: 5px; border: none; background-color: transparent; float: right; margin-right: 30px;}
		.plusminubtndiv{width:100px; height: 55px; display: table-cell; vertical-align: middle; position: relative; top:5px; left:5px;}
		.minususbtn{width:40px; height: 40px; float: left; background-image: url("image/minus.png"); position: relative; left:5px;}
		.plusbtn{width:40px; height: 40px; float: left; background-image: url("image/plus.svg"); position: relative; left:4px;}
		#numdiv{width: 340px; height: 60px; background-color: #f2f2f2; margin-top: 50px; margin-left: 30px; display: table; text-align: left; padding-left: 20px;}
		#numtitle{width: 130px; height: 55px; display: table-cell; vertical-align: middle; font-family: 'Noto Sans CJK KR'; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #6e6e6e; float: left; position: relative; top:16px;}
		#weeklabel{width:100px; height: 55px; display: table-cell; vertical-align: middle; font-family: 'Noto Sans CJK KR'; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #222222; text-align: right; padding-right: 5px; border: none; background-color: transparent; float: left;}
		#weekselectdiv{width: 365px; height: 40px; margin: 20px auto 0px;}
		.week{display: none;}
		.week + label{width: 69px; height: 30px; border: solid 1px #d8d8d8; background-color: #ffffff; font-family: 'Noto Sans CJK KR'; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.8px; color: #6e6e6e; padding-top: 8px; float:left; text-align: center;}
		.week:checked + label{background-color: #1cb97c; color: #ffffff; border: solid 1px #1cb97c;}
		#totalmoneydiv{width: 420px; height: 40px; margin : 40px auto 0px; }
		#amount{width:100px; height: 40px; margin-left: 30px; float: left; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.8px; color: #3f3f3f;}
		#seedmoney{width: 200px; height: 40px; float: right; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.8px; color: #1cb97c; }
		#seedmoney{width: 200px; height: 40px; float: right; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.8px; color: #1cb97c; }
		#orderbtndiv{width: 420px; height: 50px; margin-top : 30px;}
		#orderbtn{width: 360px ;height: 50px; border-radius: 25px; background-color: #1cb97c; margin-left: 30px; border: none; outline: none; font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: 500; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.8px; color: #ffffff;}

		#buydiv{width: 420px; height: 500px;}
		#salediv{width: 420px; height: 500px; margin-top: -500px;  visibility: hidden;}
		#salegroup{width: 361px; height: 410px; margin-left: 30px; margin-top: 30px; background: url("image/salegroup.svg") no-repeat;}
		#correctiondiv{width: 420px; height: 500px; margin-top: -530px;  visibility: hidden;}
		#correctgroup{width: 419px; height: 499px; background: url("image/correctiongroup.svg") no-repeat;}
		#conculsiondiv{width: 420px; height: 500px; margin-top: -500px; visibility: hidden;}
		#conculsiongroup{width: 419px; height: 260px; background: url("image/conculsiongroup.svg") no-repeat;}

		#precautiondiv{width: 430px; height: 500px; float:right; margin-top: 25px; margin-right: 280px;}
		#precautiontitlediv{width: 420px; height: 45px; border-bottom: solid 2px #222222;}
		#precautiontitle{width: 100px; height: 40px; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: 500; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #222222; text-align: center; position: relative; top:5px;}
		#precaution{width: 430px; height: 300px; margin-top: 15px; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: 300; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #3f3f3f; margin-left: 3px;}

		#footer{width: 1620px; height: 390px; background-color: #f5f5f5; margin-top: 140px; padding-left: 300px; padding-top: 60px;}
		.footerlabel{font-family:"Noto Sans CJK KR"; font-size:18px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: 1.67px; letter-spacing: -0.3px;}

		#btndiv{width: 50px; height: 120px; float: left; position:fixed; bottom:10px; left:1890px;}
		#up{width:50px; height: 50px; background-image: url("image/uppageicon.svg"); border: none; outline: none; background-color: transparent;}
		#chat{width:60px; height: 60px; background-image: url("image/chaticon.svg"); border: none; outline: none; background-color: transparent; position: relative; top:10px; right: 8px;}


	</style>
	<script language="javascript">
		function height(height) {
			document.getElementById("toptapdiv").style.height = height;
		}

		function tap_click(hidden,show){
			var1 = document.getElementById(hidden);
			var2 = document.getElementById(show);

			var1.style.visibility = "hidden";
			var2.style.visibility = "visible";
			this.style.fontWeight = "bold";
			this.style.color = "#222222";
			this.style.borderBottom = "4px";
			this.style.borderBottomColor = "#222222";
		}

		function rightbox_click(hidden1,hidden2,hidden3,show){
			var1 = document.getElementById(hidden1);
			var2 = document.getElementById(hidden2);
			var3 = document.getElementById(hidden3);
			var4 = document.getElementById(show);

			var1.style.visibility = "hidden";
			var2.style.visibility = "hidden";
			var3.style.visibility = "hidden";
			var4.style.visibility = "visible";
		}

		function inputNumberFormat(obj) {
			obj.value = comma(uncomma(obj.value));
		}

		function comma(str) {
			str = String(str);
			return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
		}

		function uncomma(str) {
			str = String(str);
			return str.replace(/[^\d]+/g, '');
		}

		function change1(num){
			var x  = document.form1;
			var y = Number(x.money.value) + num;
			if(y < 0) y = 0;
			x.money.value = y;
		}

		function change2(num){
			var x  = document.form2;
			var y = Number(x.week.value) + num;
			if(y < 0) y = 0;
			x.week.value = y;
		}

	</script>
</head>

<body>
<div id = "toptapdiv">
	<a href="/">
		<div id = "logodiv">
			<div id = "logoimg"><img src = "image/logo.svg"></div>
		</div> <!--end logodiv-->
	</a>
	<div id = "tapdiv">
		<ul id = "mainmenu">
			<li onMouseOver="height('260px')" onMouseOut="height('100px')"><a href = "#">서비스소개</a>
				<ul style = "left: -53px;">
					<li><a href = "#">시드닝이란</a></li>
				</ul>
			</li>

			<li onMouseOver="height('260px')" onMouseOut="height('100px')"><a href = "#">옥션</a>
				<ul  style = "left: -80px;">
					<li><a href = "auction_early">예정된옥션</a></li>
					<li><a href = "auction_ing">진행중인옥션</a></li>
					<li><a href = "auction_end">마감된옥션</a></li>
				</ul>
			</li>
			<li onMouseOver="height('260px')" onMouseOut="height('100px')"><a href = "#"  style = "color:#1cb97c;">마켓</a>
				<ul style = "left: -80px;">
					<li><a href = "#">추천</a></li>
					<li><a href = "#">판매가</a></li>
					<li><a href = "#">최근 조회</a></li>
					<li><a href = "#">관심</a></li>
				</ul>
			</li>
			<li onMouseOver="height('260px')" onMouseOut="height('100px')"><a href = "#">마이페이지</a>
				<ul style = "left: -50px;">
					<li><a href = "#">마이포켓</a></li>
					<li><a href = "#">마이씨드</a></li>
					<li><a href = "mypage">회원정보</a></li>
				</ul>
			</li>
		</ul>
	</div> <!--end tapdiv-->

	<div id = "memberdiv">
		<div id = "logindiv"><label id = "name">이주디</label>님 &nbsp;&nbsp;&nbsp;| </div>
		<div id = "alarmdiv"><button id = "alarm"></button></div>
	</div> <!--end logindiv-->
</div> <!--end toptapdiv-->


<div id = "maindiv">
	<div id = "seedboxdiv">
		<div id = "seedphotodiv"></div>

		<label id = "companyname">농우바이오</label>

		<div id = "attentiondiv">
			<img src = "image/staricon.svg">
			<label>관심추가</label>
		</div>

		<label id = "seedname">랑데뷰</label>

		<label id = "category">채소류 &nbsp; &gt &nbsp; 토마토</label>

		<div id = "opentime"><label id = "open">2020.11.20</label>&nbsp;마감</div>

		<div id = "rightbox">
			<div class = "left">옥션 최저가</div>
			<div class = "right">9,300 시드머니</div>

			<div class = "left">현재가</div>
			<div class = "right" style = "color:#1cb97c;">11,700 시드머니</div>

			<div class = "left">전일비</div>
			<div class = "right"><img src = "image/upprice.svg" style = "position: relative; top:5px;"><label style = "color:#ff3e56">1200(1.2%)</label></div>
		</div>

	</div> <!--end seedboxdiv-->

	<div id = "contenttapdiv">
		<input type = "radio" name = "tap" id = "bidding" class = "tap" checked><label for = "bidding" onClick="tap_click('infobox','biddingbox')">입찰</label>
		<input type = "radio" name = "tap" id = "info" class = "tap"><label for = "info" onClick="tap_click('biddingbox','infobox')">정보</label>
	</div> <!--end contenttapdiv-->


	<div id = "contentboxdiv">
		<div id = "biddingbox">
			<div id = "biddingtitle">
				<div id = "titleleftdiv"><div id = "titleleft">수량</div></div>
				<div id = "titlecenterdiv"><div id = "titlecenter">가격</div></div>
				<div id = "titlerightdiv"><div id = "titleright">수량</div></div>
			</div> <!--end biddingtitle-->

			<div id = "biddingcontent">
				<div id = "bluddiv">

					<div class = "contentline">
						<div class = "contentleftdiv" id="data" name="data">3</div>
						<div class = "contentcenterdiv blue">
							<div class = "conmoneybl">12,700</div>
							<div class = "conpercentbl">1.2%</div>
						</div>
						<div class = "contentrightdiv"></div>
					</div> <!--end contetnline-->

					<div class = "contentline">
						<div class = "contentleftdiv">1</div>
						<div class = "contentcenterdiv blue">
							<div class = "conmoneybl">12,100</div>
							<div class = "conpercentbl">1.6%</div>
						</div>
						<div class = "contentrightdiv"></div>
					</div> <!--end contetnline-->

					<div class = "contentline">
						<div class = "contentleftdiv">1</div>
						<div class = "contentcenterdiv blue">
							<div class = "conmoneybl">12,000</div>
							<div class = "conpercentbl">1.5%</div>
						</div>
						<div class = "contentrightdiv"></div>
					</div> <!--end contetnline-->
					<div class = "contentline">
						<div class = "contentleftdiv">4</div>
						<div class = "contentcenterdiv blue">
							<div class = "conmoneybl">11,900</div>
							<div class = "conpercentbl">1.4%</div>
						</div>
						<div class = "contentrightdiv"></div>
					</div> <!--end contetnline-->

					<div class = "contentline">
						<div class = "contentleftdiv">6</div>
						<div class = "contentcenterdiv blue">
							<div class = "conmoneybl">11,800</div>
							<div class = "conpercentbl">1.3%</div>
						</div>
						<div class = "contentrightdiv"></div>
					</div> <!--end contetnline-->
				</div>

				<div id = "reddiv">
					<div class = "contentline">
						<div class = "contentleftdiv"></div>
						<div class = "contentcenterdiv red">
							<div class = "conpercentre">1.1%</div>
							<div class = "conmoneyre">11,600</div>
						</div>
						<div class = "contentrightdiv">1</div>
					</div> <!--end contetnline-->

					<div class = "contentline">
						<div class = "contentleftdiv"></div>
						<div class = "contentcenterdiv red">
							<div class = "conpercentre">1.0%</div>
							<div class = "conmoneyre">11,500</div>
						</div>
						<div class = "contentrightdiv">1</div>
					</div> <!--end contetnline-->

					<div class = "contentline">
						<div class = "contentleftdiv"></div>
						<div class = "contentcenterdiv red">
							<div class = "conpercentre">0.9%</div>
							<div class = "conmoneyre">11,400</div>
						</div>
						<div class = "contentrightdiv">2</div>
					</div> <!--end contetnline-->

					<div class = "contentline">
						<div class = "contentleftdiv"></div>
						<div class = "contentcenterdiv red">
							<div class = "conpercentre">0.8%</div>
							<div class = "conmoneyre">11,300</div>
						</div>
						<div class = "contentrightdiv">5</div>
					</div> <!--end contetnline-->

					<div class = "contentline">
						<div class = "contentleftdiv"></div>
						<div class = "contentcenterdiv red">
							<div class = "conpercentre">0.7%</div>
							<div class = "conmoneyre">11,200</div>
						</div>
						<div class = "contentrightdiv">1</div>
					</div> <!--end contetnline-->
				</div>

				<div id = "bid
							   dingtotal">
					<div id = "totalleftdiv"><div id = "totalleft">14</div></div>
					<div id = "totalcenterdiv"><div id = "totalcenter">총 수량</div></div>
					<div id = "totalrightdiv"><div id = "totalright">10</div></div>
				</div> <!--end biddingtotal-->
			</div> <!--end biddingcontent-->
		</div> <!--end biddingbox-->

		<div id = "infobox">
			<div id = "plantinfo">
				<div id = "planttitlediv"><div id = "planttitle">종자 정보</div></div>

				<div id = "plantinfodiv">
					<div id = "plantnameinfo">랑데뷰</div>
					<div id = "cateinfo">채소류&nbsp; &gt &nbsp; 토마토</div>
					<div id = "plantcon">랑데뷰는 국내에서 2017년 기준 전국 재배 면적 약 800ha로, 1.2만톤을 생산하였고, 그 중 300톤을 중국, 홍콩, 대만, 싱가폴,   인도네시아, 베트남 등으로 수출하였다. <br><br>
						국내에서는 샤인머스캣의 최초 재배지기도 한 경상북도에서  재배가 집중적으로 이루어지고 있으며, 김천과 같은 기존의   포도 주산지를 중심으로 재배 면적이 급속하게 증가하고 있는 추세이다.</div>
				</div>

				<div id  = "plantgraphdiv">
					<div id = "graph"><img src = "image/plantgraph.svg"></div>
					<div id = "plantresult">
						<div class = "line" >
							<div class = "list"><div class = "listdot" style = "background-color: #1cb97c;"></div></div>
							<div class = "country"><div class = "countryname">대한민국</div>

							</div>
							<div class = "graphper">70%</div>
						</div>

						<div class = "line">
							<div class = "list"><div class = "listdot" style = "background-color: #6e6e6e;"></div></div>
							<div class = "country"><div class = "countryname">미국</div>

							</div>
							<div class = "graphper">20%</div>
						</div>

						<div class = "line">
							<div class = "list"><div class = "listdot" style = "background-color: #d8d8d8;"></div></div>
							<div class = "country"><div class = "countryname">ETC</div>

							</div>
							<div class = "graphper">10%</div>
						</div>
					</div>
				</div>
			</div> <!--end plantinfo-->

			<div id = "companyinfo">
				<div id = "compatitlediv"><div id = "compatitle">회사 정보</div></div>

				<div id = "companyinfodiv">
					<div id = "cplantnameinfo">농우바이오</div>
					<div id = "tablediv">

					</div>

					<div id = "cominfo">
						농업회사번인 농우바이오 농업의 근간이 되는 종자를 육종하고 소비자 요구에 적합한 신품종을 개발 및 보급하는 대한민국 대표 종자기업입니다.<br><br>
						농업인을 대상으로, 소득 증대를 위한 다양한 연구 개발 활동들을 적극적으로 실천해나가고 있으며 재배 안정성과 수량성이 뛰어난 품종 육종과 더불어 소비자 경향을 반영한 기능성 품종 육종에도 최선의 노력을 다하고 있습니다.
					</div>
				</div>
			</div> <!--end companyinfo-->

			<div id = "marketpricediv">
				<div id = "marketpricetitlediv"><div id = "marketpricetitle">품종보호권료 시세</div></div>

				<div id = "marketbutton">
					<img src = "image/maryear.svg" style = "margin-right: 15px;">
					<img src = "image/marmonth.svg" style = "margin-right: 15px;">
					<img src = "image/marweek.svg" style = "margin-right: 15px;">
					<img src = "image/marday.svg" style = "margin-right: 15px;">
				</div>

				<div id = "margraphdiv">
					<img src = "image/margraph.svg">
				</div>
			</div> <!--end marketpricediv-->

			<div id = "marketchart">
				<div id = "machatitlediv"><div id = "machatitle">품종보호권료 시세</div></div>

				<div id = "chartbutton">
					<img src = "image/maryear.svg" style = "margin-right: 15px;">
					<img src = "image/marmonth.svg" style = "margin-right: 15px;">
					<img src = "image/marweek.svg" style = "margin-right: 15px;">
					<img src = "image/marday.svg" style = "margin-right: 15px;">
				</div>

				<div id = "chartgraph">
					<img src = "image/chartgraph.svg">
				</div>
			</div> <!--end marketchart-->

			<div id = "kindinfodiv">
				<div id = "kindinfotitlediv"><div id = "kindinfotitle">종목 정보</div></div>

				<div id = "kindtable">

				</div>

			</div> <!--end kindinfodiv-->

		</div> <!--end infobox-->
	</div> <!--end contentboxdiv-->

	<div id = "orderdiv">
		<div id = "orderboxtitle">
			<input type = "radio" name = "rightbox" id = "r1" class = "rightbox" checked><label for = "r1" onClick="rightbox_click('salediv','correctiondiv','conculsiondiv','buydiv')">구매</label>
			<input type = "radio" name = "rightbox" id = "r2" class = "rightbox"><label for = "r2" onClick="rightbox_click('correctiondiv','conculsiondiv','buydiv','salediv')">판매</label>
			<input type = "radio" name = "rightbox" id = "r3" class = "rightbox"><label for = "r3" onClick="rightbox_click('conculsiondiv','buydiv','salediv','correctiondiv')">정정</label>
			<input type = "radio" name = "rightbox" id = "r4" class = "rightbox"><label for = "r4" onClick="rightbox_click('buydiv','salediv','correctiondiv','conculsiondiv')">체결</label>
		</div>

		<div id = "buydiv">
			<div id = "useseedmoneydiv">
				<div id = "useseedmoney">사용가능 시드머니</div>
				<div id = "useedmoney">62,100 시드머니</div>
			</div>

			<div id = "moneybox">
				<form name = "form1" class = "formclass">
					<div id = "moneyboxtitle">구매단가(1주)</div>
					<input type = "text" id = "moneyboxlabel" value="0" size="3" name = "money" onkeyup="inputNumberFormat(this)">
				</form>
			</div>

			<div id = "numdiv">
				<form name = "form2" class = "formclass">
					<div id = "numtitle">수량(주)</div>
					<input type = "text" id = "weeklabel" value="0" size="3" name = "week" onkeyup="inputNumberFormat(this)">
					<div class = "plusminubtndiv">
						<div class = "minususbtn" onClick="change2(-1);"></div>
						<div class = "plusbtn" onClick="change2(1);"></div>
					</div>
				</form>
			</div>

			<div id = "weekselectdiv">
				<input type = "radio" id = "5" name = "weekselect" class = "week" value = "5"><label for = "5"  >5주</label>
				<input type = "radio" id = "10" name = "weekselect" class = "week"><label for = "10">10주</label>
				<input type = "radio" id = "20" name = "weekselect" class = "week"><label for = "20">20주</label>
				<input type = "radio" id = "50" name = "weekselect" class = "week"><label for = "50">50주</label>
				<input type = "radio" id = "100" name = "weekselect" class = "week"><label for = "100">100주</label>
			</div>

			<div id = "totalmoneydiv">
				<div id = "amount">주문금액</div>
				<div id = "seedmoney"><label>00,000</label>시드머니</div>
			</div>

			<a href="market_detail_1">
				<div id = "orderbtndiv">
					<button id = "orderbtn" name="orderbtn">입찰주문</button>
				</div>
			</a>
		</div> <!--end buydiv-->

		<div id = "salediv">
			<div id = "salegroup"></div>
		</div> <!--end salediv-->

		<div id = "correctiondiv">
			<div id = "correctgroup"></div>
		</div> <!--end salediv-->

		<div id = "conculsiondiv">
			<div id = "conculsiongroup"></div>
		</div>
	</div> <!--end orderdiv-->

	<div id = "precautiondiv">
		<div id = "precautiontitlediv"><div id = "precautiontitle">유의사항</div></div>
		<div id = "precaution">
			<img src = "image/checkicon.svg" style = "margin-right: 3px;">거래 수수료는 구매 및 판매금액의 1 주당 1.2%입니다.<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※ 단, 5 주 이상 구매 주문 시, 거래 수수료가 1.0% 로 감면<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;됩니다.<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;구매체결 시 수수료를 포함한 결제 금액이 ‘마이 포켓’에서
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;자동으로 결제됩니다.<br>
			<img src = "image/checkicon.svg" style = "margin-right: 3px;">판매체결 시 수수료를 제외한 판매 금액이  ‘마이 포켓’에<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;합산됩니다.<br>
			<img src = "image/checkicon.svg" style = "margin-right: 3px;">구매주문금액 전체가 대기금으로 설정되며, 주문취소 시<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;해제됩니다. <br>
		</div>
	</div> <!--end precautiondiv-->
</div> <!--end maindiv-->

<div id = "footer">
	<img src = "image/footerlogo.svg"><br>
	<label class = "footerlabel" style = "color: #1cb97c; position: relative; top:10px;">국내 종자 시장의 미래를 위한 첫걸음, 시드닝<br></label>
	<label class = "footerlabel" style = "color: #3f3f3f; position: relative; top:40px;">시드닝 고객센터 02-0000-0000  |  admin@seedning.co.kr<br></label>
	<label class = "footerlabel" style = "color: #3f3f3f; position: relative; top:80px;">(주)시드닝<br></label>
	<label class = "footerlabel" style = "color: #3f3f3f; position: relative; top:90px;">대표자 : 이연정  |  사업자등록번호 : 000-00-00000  |  통신판매업신고 : 제 0000-서울강남-00000호<br></label>
	<label class = "footerlabel" style = "color: #3f3f3f; position: relative; top:100px;">서울특별시 강남구 테헤란로<br></label>
	<label class = "footerlabel" style = "color: #3f3f3f; position: relative; top:180px;">이용약관  |  개인정보처리방침<br></label>
	<img src = "image/footerfacebook.svg" style = "position: relative; top:155px; left: 1250px;">
	<img src = "image/footerblog.svg" style = "position: relative; top:158px; left: 1300px;">
</div>

<div id = "btndiv">
	<a href = "#"><button id = "up"></button></a>
	<button id = "chat"></button>
</div>
</body>
</html>
