<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<style>
		body{width: 868px; height: 623px; margin: 0 auto;}
		#toptapdiv{width: 868px; height: 89px; border-bottom: solid 1px #e9e9e9;}
		#toptap{width: 598px; height: 89px; margin: 0 auto;}
		.tap{display: none;}
		.tap + label{width: 140px; height: 63px; float: left; text-align: center; border: none; outline:none; background-color: transparent; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -1.14px; color: #6e6e6e; margin-right: 80px; padding-top:25px;}
		.tap:checked + label{border-bottom: solid 4px #1cb97c; color: #1cb97c;}

		#chargeboxdiv{width:598px; height: 465px; margin:0 auto; position: relative; top:69px;}
		#seedmoneydiv{width:598px; height: 25px;}
		#haveseedmoney{width:130px; height: 25px; float: left; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.8px; color: #3f3f3f; margin-left: -220px;}
		#seedmoney{width:180px; height: 25px; float: right; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: 500; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.8px; color: #1cb97c; position: relative; left:45px;}
		#moneyinputdiv{width:598px; height: 40px; margin-top: 50px;}
		#moneyinput{width:598px; height: 40px; border:none; border-bottom: solid 1.2px #d8d8d8; font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.8px; color: #d8d8d8;}
		input::placeholder{font-size: 21px; color: #d8d8d8;}
		#moneybtndiv{width:598px; height: 57px; margin-top:52px;}
		.money{display: none;}
		.money + label{width: 147px; height: 27px; padding: 20px 43px 21px 48px; border: solid 1px #d8d8d8; background-color: #ffffff; font-family: 'Noto Sans CJK KR'; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -1.14px; color: #6e6e6e; text-align: center;}
		.money:checked + label{background-color:  #1cb97c; color: #ffffff;}

		#afterchargediv{width: 590px ;height: 67px ;background-color: #f2f2f2; margin-top: 30px;}
		#aftercharge{width: 130px; height: 25px; margin-left: 20px; padding-top: 18px; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #3f3f3f; float: left;}
		#aftermoney{width: 200px; height: 25px; margin-left: 20px; padding-top: 18px; font-family: 'Noto Sans CJK KR'; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #1cb97c; float: right; text-align: center;}

		#chargebtndiv{width: 590px ;height: 56px; margin-top: 45px;}
		#chargebtn{width: 579px; height: 56px; border-radius: 25px; background-color: #1cb97c; border:none; outline: none; font-family: 'Noto Sans CJK KR'; font-size: 21px; font-weight: 500; font-stretch: normal; font-style: normal; line-height:normal; letter-spacing: -0.86px; color: #ffffff;}


		#withdrawboxdiv{width:598px; height: 465px; background-color: #238678; margin:0 auto; position: relative; top:-396px; visibility: hidden;}


		#couponboxdiv{width:598px; height: 465px; background-color: #6227B4; margin:0 auto; position: relative; top:-860px; visibility: hidden;}
	</style>
	<script language="javascript">
		function tap_click(hidden1,hidden2,show){
			var1 = document.getElementById(hidden1);
			var2 = document.getElementById(hidden2);
			var3 = document.getElementById(show);

			var1.style.visibility = "hidden";
			var2.style.visibility = "hidden";
			var3.style.visibility = "visible";
			this.style.fontWeight = "bold";
			this.style.color = "#1cb97c";
			this.style.borderBottom = "4px";
			this.style.borderBottomColor = "#1cb97c";
		}

	</script>
</head>

<body>
<div id = "toptapdiv">
	<div id = "toptap">
		<input type = "radio" name = "tap" id = "charge" class = "tap" checked><label for = "charge" onClick="tap_click('couponboxdiv','withdrawboxdiv','chargeboxdiv')">시드머니충전</label>
		<input type = "radio" name = "tap" id = "withdraw" class = "tap"><label for = "withdraw" onClick="tap_click('chargeboxdiv','couponboxdiv','withdrawboxdiv')">시드머니출금</label>
		<input type = "radio" name = "tap" id = "coupon" class = "tap"><label for = "coupon" onClick="tap_click('chargeboxdiv','withdrawboxdiv','couponboxdiv')" style = "margin-right: 0px;">쿠폰 및 코드</label>
	</div>
</div> <!--end toptapdiv-->

<form action="/rest_test" method="post">

	<div id = "chargeboxdiv">
		<div id = "seedmoneydiv">
			<div id = "haveseedmoney">보유 시드머니</div>
			<div id = "seedmoney"><label>{{myseed}}</label>&nbsp;&nbsp;&nbsp;시드머니</div>
		</div>

		<div id = "moneyinputdiv">
			<input type = "text" id = "moneyinput" name="moneyinput" placeholder="금액을 입력해주세요 (1만원 이상)">
		</div>

		<div id = "moneybtndiv">
			<input type = "radio" name = "money" id = "1" class = "money"><label for = "1">+1만원</label>
			<input type = "radio" name = "money" id = "10" class = "money"><label for = "10">+10만원</label>
			<input type = "radio" name = "money" id = "50" class = "money"><label for = "50">+50만원</label>
			<input type = "radio" name = "money" id = "100" class = "money"><label for = "100">+100만원</label>
		</div>

		<div id = "chargebtndiv">
			<button type="submit" id = "chargebtn">충전하기</button>
		</div>
	</div> <!--end chargeboxdiv-->
</form>

<div id = "withdrawboxdiv">

</div> <!--end withdrawboxdiv-->

<div id = "couponboxdiv">

</div> <!--end couponboxdiv-->
</body>
</html>
